/* Estilos para los botones de login y registro */
.Btn{
    background-color: #D92579; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 9px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1.1rem; /* Tamaño del texto */
    cursor: pointer; /* Cursor tipo puntero */
    margin: 10px; /* Márgenes entre botones */
    transition: background 0.3s; /* Transición suave en el cambio de color */
    box-shadow: 2px 2px 2px 2px rgba(138, 89, 121, 0.616);
    display: flex;
    justify-self: center;
    align-content:center;

    width: 30%;            /* Cámbialo al ancho que quieras */
    padding: 15px 20px;
    border-radius: 16px;
    
    font-weight: 900;
    font-family: "Murecho", sans-serif;
    
    text-align: center;

    display: block;        /* IMPORTANTÍSIMO para centrarlo */
    margin: 0 auto;        /* CENTRA EL BOTÓN */
    
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

/* Efecto al pasar el mouse sobre los botones */
.Btn:hover{
    background-color: #400C24; /* Color más oscuro al hacer hover */
    scale: 1.05;
    box-shadow: 2px 2px 2px 2px rgba(131, 43, 100, 0.616);
    color: #e4e4e4;
}