/* Estilos generales del contenedor principal de la página */
.bodyContainer {
    /*background-image: url('/imagenes/FondoMK.PNG'); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    margin: 0;
    padding: 0;
    display: flex; /* Usa flexbox para centrar elementos */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

/* Contenedor principal de la página de inicio */
.homeContainer {
    background: rgba(218, 216, 217, 0.7); /* Color de fondo con transparencia */
    padding: 2em; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra alrededor del contenedor */
    width: 100%;
    max-width: 28em; /* Ancho máximo del contenedor */
    text-align: center; /* Alineación del texto */
    color: #000; /* Color del texto */
    transition: all 0.3s ease; /* Transición suave en los cambios de estilo */
    margin: 10px;
}


/* Estilos para la imagen del avatar */
.avatar img {
    width: 7em; /* Ancho de la imagen */
    height: 7em; /* Altura de la imagen */
    border-radius: 50%; /* Hace la imagen circular */
    border: 3px solid #D9115A; /* Borde con color */
    margin-bottom: 15px; /* Espaciado inferior */
}

/* Estilos para el título principal */
.title {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 5.3rem;                            /* Tamaño grande para el título */
    margin: 0;
}

/* Estilos para el subtítulo */
.subtitle {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.25rem; /* Tamaño del subtítulo */
    color: #520221; /* Color del texto */
    margin: 5px 0 20px; /* Márgenes superior e inferior */
}

/* Estilos para el subtítulo */
.welcome {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem; /* Tamaño del subtítulo */
    margin: 5px 0 20px; /* Márgenes superior e inferior */
    color: #D92579; /* Color del texto */
}