/* Contenedor principal del formulario de inicio de sesión */
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Tarjeta de inicio de sesión */
.loginCard {
    background: rgba(218, 216, 217, 0.7); /* Fondo semitransparente */
    padding: 30px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efecto de elevación */
    width: 100%;
    max-width: 350px; /* Ancho máximo */
    text-align: center; /* Centra el contenido */
    color: #fff; /* Color del texto */
}

/* Título dentro de la tarjeta de inicio de sesión */
.loginCard h2 {
    margin-bottom: 1.25rem;                        /* Espaciado inferior */
    font-size: 2.5rem;                            /* Tamaño de fuente */
    font-family: "Bowlby One", sans-serif;      /* Tipo de fuente, fuente: Google Fonts. */
    font-weight: 400;                           /* Grosor de la letra, varía entre 200 a 800 */
    font-style: normal;
    text-align: center;
    color: #61053f;                           /* Color de la letra, relacionado al sistema y empresa. */
}

/* Contenedor de los campos de entrada */
.inputContainer {
    margin-bottom: 1.3rem; /* Espaciado entre campos */
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Etiquetas de los campos de entrada */
.inputContainer label {
    display: block; /* Hace que la etiqueta ocupe toda la línea */
    color: #000; /* Color del texto */
    margin-bottom: 5px; /* Espaciado inferior */

    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;              /* Ajuste del tamaño correspondiente al contenedor. */
    font-weight: 500;                       /* Ancho de la fuente, de 100 a 900 */
    font-style: normal;                     /* Estilo de la fuente, normal, negrita, cursiva */
    font-size: 1.25rem;                        /* Tamaño de fuente */
}

/* Campos de entrada */
.inputContainer input {
    width: 100%; /* Ancho del campo */
    padding: 10px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 18px; /* Bordes redondeados */
    outline: none; /* Elimina el borde de enfoque predeterminado */
    background-color: #333; /* Fondo oscuro */

    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem; /* Tamaño de fuente */
    color: #ffe0f8; /* Color del texto */
}

/* Efecto cuando un campo de entrada está enfocado */
.inputContainer input:focus {
    border: 2px solid #262523; /* Borde resaltado */
}